<div class="container mid-mid">
  <div style="height: 10vh"></div>
  <div class="title font" style="font-size: 25px">Employee Service</div>
  <div style="height: 29.7vh"></div>
  <div style="width: 200px" class="mid">
    <div class="info-field" [style.color]="message.color">{{ message.message }}</div>
    <div style="height: 5px"></div>
    <div class="input-text-field centered mid"><input [(ngModel)]="dataService.loginUsername" class="input-field"
                                                      placeholder="Username"
                                                      type="text" (keyup.enter)="login()"></div>
    <div style="height: 10px"></div>
    <div class="input-text-field centered mid"><input [(ngModel)]="dataService.loginPassword" class="input-field"
                                                      placeholder="Password"
                                                      type="password" (keyup.enter)="login()"></div>
    <div style="height: 10px"></div>
    <div class="add-button mid font">
      <div (click)="login()" class="add-button-text">Login</div>
    </div>
  </div>
</div>
