.container {
  position: absolute;
  width: 260px;
  height: 415px;
  background-color: white;
  border-radius: 20px;
}

.title {
  text-align: center;
  position: fixed;
  width: 260px;
  height: 20px;
  font-size: 20px;
}

.head-line {
  position: relative;
  width: 210px;
  background-color: lightgray;
  border-radius: 10px;
}

.input {
  background-color: transparent;
  position: relative;
  float: left;
  border: none;
  width: 185px;
  height: 20px;
  font-size: 16px;
  left: 5px;
}

.input:focus {
  outline: none;
}

.add {
  background-color: transparent;
  text-align: right;
  position: relative;
  float: left;
  width: 15px;
  height: 22px;
  font-size: 16px;
}

.outer-list {
  background-color: lightgray;
  border-radius: 20px;
  height: 329px;
  width: 220px;
}

.inner-list {
  user-select: none;
  position: relative;
  width: 200px;
  height: 309px;
  top: 10px;
  left: 10px;
}

table {
  border-collapse: collapse;
  width: 200px;
}

.list-row {
  border-bottom: #00000022 solid 1px;
  font-size: 16px;
  height: 19px;
}

.list-row:nth-child(1) {
  border-top: #00000022 solid 1px;
}

.edit-input {
  font-size: 16px;
  height: 15px;
  width: 125px;
  border: none;
}
