
  <div class="qualification-list" (click)="functionService.dataService.clickForeground()">
    <div class="close-button"><span class="material-icons" style="font-size: 24px; cursor: pointer" (click)="close()">close</span></div>
    <div class="head-line">
      <input type="text" [(ngModel)]="functionService.dataService.qualificationAdd" placeholder="Neue Qualifikation" class="input">
      <div class="add-button" (click)="functionService.addQualification()"><div style="cursor: pointer">+</div></div>
    </div>
    <div class="separator"><div class="separator-line"></div></div>
    <div class="outer-list">
      <div class="inner-list">
        <table>
          <tr class="list-row" *ngFor="let qualification of functionService.dataService.qualifications">
            <ng-container *ngIf="functionService.dataService.qualificationEdit?.id == qualification.id; then editing else fixName"/>

            <ng-template #editing> <!-- EDITING -->
              <td colspan="130px">
                <div style="width: 130px">
                  <input class="edit-input" type="text" [(ngModel)]="functionService.dataService.qualificationEdit!.name">
                </div>
              </td>
              <td colspan="20px">
                <div style="width: 20px;">
                  <span class="material-icons" style="font-size: 16px; cursor: pointer" (click)="functionService.saveQualification()">save</span>
                </div>
              </td>
            </ng-template>

            <ng-template #fixName> <!-- FIX -->
              <td colspan="130px">
                <div style="width: 130px">
                    <div>{{qualification.skill}}</div>
                </div>
              </td>
              <td colspan="20px">
                <div style="width: 20px;">
                  <span class="material-icons" style="font-size: 16px; cursor: pointer" (click)="functionService.editQualification(qualification)">edit</span>
                </div>
              </td>
            </ng-template>

            <td style="; width: 20px;" colspan="20px">
              <div style="width: 20px;">
                <span class="material-icons" style="font-size: 16px; cursor: pointer; color: red" (click)="functionService.deleteQualification(qualification)">delete</span>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
