.search {
  width: 100%;
  margin-top: 20px;
}

input[type="text"] {
  left: 50%;
  width: 80%;
  height: 20px;
  position: relative;
  transform: translate(-50%, 0);
  border: grey solid 1px;
  border-radius: 20px;
}
