<div class="mid container" [style.height]="height(true)">
  <div class="head-line mid font">
    <div class="title" style="float: left">Qualifikationen</div>
    <div (click)="functionService.openAddQualificationDialog()" *ngIf="selectable" class="title button"
         style="float: right">+
    </div>
  </div>
  <div style="height: 3px"></div>
  <div class="qualification-list" [style.height]="height(false)">
    <div *ngIf="selectable">
      <div class="input-text-field mid" style="top: 5px"><input class="input-field font" placeholder="Suche" type="text" [(ngModel)]="dataService.searchForQualification"></div>
      <div class="separator-line" style="top: 4px"></div>
    </div>
    <div class="inner-list scroll">
      <ng-container *ngIf="selectable; then all else mine">
      </ng-container>
      <ng-template #all>
        <div *ngFor="let qualification of qualifications()" class="qualification font">
          <ng-container *ngIf="containsSkill(qualification); then selected else unselected"></ng-container>
          <ng-template #selected>
            <input checked class="select-button" name="{{qualification.id}}" type="checkbox">
          </ng-template>
          <ng-template #unselected>
            <input class="select-button" name="{{qualification.id}}" type="checkbox">
          </ng-template>
          {{ qualification.skill }}
        </div>
      </ng-template>
      <ng-template #mine>
        <div *ngFor="let qualification of dataService.employeeDetails.skills" class="qualification font">
          {{ qualification }}
        </div>
      </ng-template>
    </div>
  </div>
</div>
