<div class="outer-container">
  <div class="head-line">
    <div class="title" style="float: left">Qualifikationen</div>
    <div (click)="functionService.openAddQualificationDialog()" *ngIf="selectable" class="title add-button"
         style="float: right">+
    </div>
  </div>
  <div class="qualification-list">
    <div class="inner-list">
      <ng-container *ngIf="selectable; then all else mine">
      </ng-container>
      <ng-template #all>
        <div *ngFor="let qualification of dataService.qualifications" class="qualification">
          <ng-container *ngIf="containsSkill(qualification); then selected else unselected"></ng-container>
          <ng-template #selected>
            <input checked class="select-button" name="{{qualification.id}}" type="checkbox">
          </ng-template>
          <ng-template #unselected>
            <input class="select-button" name="{{qualification.id}}" type="checkbox">
          </ng-template>
          {{ qualification.skill }}
        </div>
      </ng-template>
      <ng-template #mine>
        <div *ngFor="let qualification of dataService.employeeDetails.skills" class="qualification">
          {{ qualification }}
        </div>
      </ng-template>
    </div>
  </div>
</div>
