.container {
  width: 200px;
}

.qualification-list {
  height: 120px;
  border-radius: 20px;
  background-color: lightgray;
}

.title {
  font-size: 16px;
}

.head-line {
  width: 180px;
}

.inner-list {
  width: 180px;
  height: 80px;
  transform: translate(10px, 10px);
}

.qualification {
  font-size: 14px;
}

.qualification:nth-child(odd) {
  background-color: #00000022;
}

.select-button {

}
