.dot {
  background-color: #6868dc;
  border-radius: 50%;
  display: inline-block;
}

.mini {
  height: 25px;
  width: 25px;
}

.small {
  height: 50px;
  width: 50px;
}

.big {
  height: 130px;
  width: 130px;
}

.text {
  color: white;
  position: relative;
  float: left;
}

.text-mini {
  font-size: 14px;
}

.text-small {
  font-size: 25px;
}

.text-big {
  font-size: 70px;
}
