<div>
  <div style="float:left;" class="button-container">
    <span (click)="functionService.openQualificationListDialog()" class="material-icons nav-button button" style="float: left">list</span>
    <div class="line-h"></div>
  </div>
  <div style="float:right;" class="button-container">
    <div class="line-h"></div>
    <span (click)="functionService.openAddEmployeeDialog()" class="material-icons nav-button button" style="float: left">add</span>
  </div>
  <div class="line-w" [style.width]="dataService.screenWidth"></div>

  <button class="mid" (click)="dataService.logout()">logout</button>
</div>
