<div class="outer-container" (click)="functionService.restService.dataService.clickForeground()">
  <div class="close-button"><span class="material-icons" style="font-size: 24px; cursor: pointer" (click)="close()">close</span>
  </div>
  <div class="head-line">Neue Qualifikation</div>
  <div class="text-field"><input [(ngModel)]="functionService.restService.dataService.addQualificationText" type="text" class="input"
                                 placeholder="Qualifikation"></div>
  <div class="add-button">
    <div class="add-button-text" (click)="submit()">Erstellen</div>
  </div>
</div>
