<div (click)="dataService.clickForeground()" class="container mid-mid">
  <div class="head-line font">Neue Qualifikation</div>
  <div class="close-button"><span (click)="close()" class="material-icons button" style="font-size: 24px; cursor: pointer">close</span>
  </div>
  <div style="height: 20px"></div>
  <div class="input-text-field mid font"><input [(ngModel)]="qualification" class="input-field" placeholder="Qualifikation" type="text"></div>
  <div style="height: 10px"></div>
  <div class="add-button font mid">
    <div (click)="submit()" class="add-button-text font">Erstellen</div>
  </div>
</div>
