<div style="width: 100%; height: 100%">
  <app-employee-list class="employee-list" [style.height]="(window.innerHeight - 130) + 'px'"></app-employee-list>
  <div class="search-bar" style=""></div> <!-- SEARCH -->
  <div class="nav-bar">
    <button (click)="dataService.dialogs.push(QualificationListComponent)">
      list
    </button>
    <button (click)="dataService.dialogs.push(AddEmployeeComponent)" style="float: right; position: relative">
      add
    </button>
  </div> <!-- NAVBAR -->
  <ng-container *ngFor="let dialog of dataService.backgroundDialogs()">
      <ng-container *ngComponentOutlet="dialog"></ng-container>
  </ng-container>
  <ng-container *ngIf="dataService.foregroundDialog() !== undefined">
    <div class="background" (click)="dataService.clickBackground(dataService.foregroundDialog()!)">
    <ng-container *ngComponentOutlet="dataService.foregroundDialog()!"></ng-container>
    </div>
  </ng-container>
</div>
