<div style="width: 100%; height: 100%; user-select: none;">
  <app-employee-list [style.height]="(dataService.screenHeight - 130) + 'px'" class="employee-list"></app-employee-list>
  <div class="search-bar" style=""></div> <!-- SEARCH -->
  <div class="nav-bar">
    <button (click)="functionService.openQualificationListDialog()">
      list
    </button>
    <button (click)="functionService.openAddEmployeeDialog()" style="float: right; position: relative">
      add
    </button>
  </div> <!-- NAVBAR -->
  <ng-container *ngFor="let dialog of dataService.backgroundDialogs()">
    <ng-container *ngComponentOutlet="dialog" style="position: absolute"></ng-container>
  </ng-container>
  <ng-container *ngIf="dataService.foregroundDialog() !== undefined">
    <div (click)="dataService.clickBackground()" class="background" style="position: absolute">
      <router-outlet *ngComponentOutlet="dataService.foregroundDialog()!" style="position: absolute"></router-outlet>
    </div>
  </ng-container>
  <app-message-box style="position: fixed; pointer-events: none"></app-message-box>
</div>
