<div class="outer-container" (click)="functionService.dataService.clickForeground()">
<!--  <div class="close-button"><span class="material-icons" style="font-size: 24px; cursor: pointer" (click)="close()">close</span></div>-->
  <div class="head-line">{{functionService.dataService.confirmationConfirm?.title}}</div>

  <div class="buttons">
    <div class="button" style="margin-right: 20px">
      <div class="button-text" (click)="submit(false)">Nein</div>
    </div>
    <div class="button">
      <div class="button-text" (click)="submit(true)">Ja</div>
    </div>
  </div>
</div>
