<div class="outer-container" (click)="dataService.clickForeground()">
  <div class="close-button"><span class="material-icons" style="font-size: 24px; cursor: pointer" (click)="close()">close</span>
  </div>
  <div>
    <app-employee-initials class="initials" [employee]="dataService.employeeDetails"
                           [big]="true"></app-employee-initials>
  </div>
  <div class="name-text">
    <div>{{ dataService.employeeDetails.employeeFullName(-1) }}</div>
  </div>
  <div class="separator" style="top: 160px">
    <div class="separator-line"></div>
  </div>
  <div class="detail-infos">
    <div>
      <div class="info-field">ID</div>
      <div class="info">{{ dataService.employeeDetails.id }}</div>
      <!--      //TODO-->
    </div>
    <div>
      <div class="info-field">Str</div>
      <div class="info">{{ dataService.employeeDetails.street }}</div>
    </div>
    <div>
      <div class="info-field">PLZ/City</div>
      <div class="info">{{ dataService.employeeDetails.postcode + ', ' + dataService.employeeDetails.city }}</div>
    </div>
    <div>
      <div class="info-field">Phone</div>
      <div class="info">{{ dataService.employeeDetails.phone }}</div>
    </div>
  </div>
  <div class="separator" style="top: 160px">
    <div class="separator-line"></div>
  </div>
  <app-qualification-card class="qualification-card"></app-qualification-card>
  <div class="buttons">
    <span class="button material-icons" (click)="delete()" style="color: red;">delete</span>
    <span class="button material-icons" (click)="edit()" style="left: 195px">edit</span>
  </div>
</div>
