.container {
  position: absolute;
  width: 260px;
  height: 510px;
  background-color: white;
  border-radius: 20px;
  user-select: none;
}

.initials {
  position: fixed;
  top: 20px;
  float: left;
}

.name-text {
  text-align: center;
  width: 240px;
  height: 45px;
  font-size: 18px;
  top: 20px;
}

.detail-infos {
  font-size: 15px;
  width: 220px;
}

.info-field {
  font-size: 10px;
  color: darkgray;
}

.info {
  position: relative;
  top: -3px;
}

.qualification-card {
  position: relative;
}

.buttons {
  position: fixed;
  bottom: 0;
  width: 260px;
}

.button {
  position: relative;
  margin: 5px;
  width: 24px;
  cursor: pointer;
  font-size: 24px;
}
