<div (click)="dataService.clickForeground()" class="outer-container">
  <div class="close-button"><span (click)="close()" class="material-icons" style="font-size: 24px; cursor: pointer">close</span>
  </div>
  <div>
    <app-employee-initials [big]="true" [employee]="dataService.employeeDetails"
                           class="initials"></app-employee-initials>
  </div>
  <div class="name-text">
    <div>{{ dataService.employeeDetails.employeeFullName(-1) }}</div>
  </div>
  <div class="separator" style="top: 160px">
    <div class="separator-line"></div>
  </div>
  <div class="detail-infos">
    <div>
      <div class="info-field">ID</div>
      <div class="info">{{ dataService.employeeDetails.id }}</div>
      <!--      //TODO-->
    </div>
    <div>
      <div class="info-field">Str</div>
      <div class="info">{{ dataService.employeeDetails.street }}</div>
    </div>
    <div>
      <div class="info-field">PLZ/City</div>
      <div class="info">{{ dataService.employeeDetails.postcode + ', ' + dataService.employeeDetails.city }}</div>
    </div>
    <div>
      <div class="info-field">Phone</div>
      <div class="info">{{ dataService.employeeDetails.phone }}</div>
    </div>
  </div>
  <div class="separator" style="top: 160px">
    <div class="separator-line"></div>
  </div>
  <app-qualification-card class="qualification-card"></app-qualification-card>
  <div class="buttons">
    <span (click)="delete()" class="button material-icons" style="color: red;">delete</span>
    <span (click)="edit()" class="button material-icons" style="left: 195px">edit</span>
  </div>
</div>
