.container {
  position: absolute;
  width: 340px;
  height: 320px;
  background-color: white;
  border-radius: 20px;
  user-select: none;
}

.outer-list {
  background-color: #00000022;
  width: 320px;
  border-radius: 15px;
  height: 271px;
}

.info-field {
  position: fixed;
  transform: translate(10px, 2px);
  font-size: 15px;
  color: darkgray;
}

.info-field2 {
  position: fixed;
  width: 300px;
  transform: translate(0, 2px);
  text-align: center;
  font-size: 12px;
  color: darkgray;
}

.t-row {
  width: 300px;
  height: fit-content;
}

.line {
  background-color: #00000022;
  position: relative;
  height: 1px;
  width: 320px;
}

.head-line {
  margin-top: 12px;
  width: 180px;
  margin-bottom: 8px;
}

.table {
  transform: translate(10px, 10px);
  width: 300px;
  height: 251px;
}

.name-text {
  font-size: 15px;
  width: 264px;
  position: relative;
  float: left;
}

.initials {
  width: 25px;
  height: 25px;
  position: relative;
  top: 2px;
}

.initials-component {
}
